*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }    /*
****************************************************************************************
                                    CLASSE UTILITAIRE
****************************************************************************************
*/
.center {
    text-align: center;
}

.flex {
    display: flex;
    justify-content: space-around;
    gap:1rem;
}

.flex_diapo {
    display: flex;
    justify-content: space-around;
    gap:1rem;
}

.flex_theme {
    display: flex;
    justify-content: space-around;
    gap:.2rem;
    padding-block:.4rem;
    align-items: center;
}

.flex1 {
    display: flex;
    justify-content: space-between;
    padding-block:2rem;
}

.grid {
    display: grid;
}

.theme{
    background-color: var(--clr-color-links-and-buttons);
}

.align-center{
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
}

.background {
    background-color: var(--clr-gray-element-color);
    font-size: var(--fs-default-text-size);
    font-family: var(--ffamily-default);
}

.container {
   background-color: #fff;
   padding: .5rem;
}

section{
    margin-block: 3rem;
}

table{
    border: 1px solid gray;
    border-collapse: collapse;
}

tr{
    border: 1px solid gray;
}

td{
    padding: .5rem;
    width: 50%;
}

img:not(.logo) {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.float_left
{
    float: left;
}

.float_right
{
    float: right;
}

.flex_start{
    justify-content: flex-start;
    gap:3rem;
}

h2{
    font-size: var(--fs-title-text-size-2);
}

h3{
    font-size: var(--fs-text-size-of-headings-3);
}
/* .logo {
    width: 10rem;
} */

@font-face {
    font-family:open_sans ;
    src: url(./fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family:raleway ;
    src: url(./fonts/Raleway/Raleway-VariableFont_wght.ttf);
}


:root{
    /* font size and font height */
    --fs-default-text-size:1.1rem;
    /* --fs-text-size-of-titles-1: 3.6rem; */
    /* --fs-title-text-size-2: 2.4rem; */
    /* --fs-text-size-of-headings-3: 1.8rem ; */
    /* --fh-line-height: 2.0rem; */

    /*font family*/
    --ffamily-title: raleway;
    --ffamily-default: open_sans;

    /* Color */
    --clr-default-page-color:#eee;
    --clr-gray-element-color:#eee;
    --clr-header-background-color:#0c6588;
    --clr-menu-background:#e2f7ff;
    --clr-main-content-background:#fff;
    --clr-footer-background-color: #333;
    --clr-titles-color: #333;
    --clr-text-color:#555;
    --clr-header-text:#e2f7ff;
    --clr-footer-text: #ddd ;
    --clr-links-and-buttons: #0c6588 ;
    --clr-hover-links-and-buttons: #000;
    --clr-footer-links: #eee;

    /*Border*/
    --bd-sm:1px solid #eee;
    --bd-md: 1px solid #ddd;
    --bd-lg: 2px solid #ccc;

    /*Shadow effect*/
    --sd-sm: 0 0 1px rgba(0, 0, 0, 0.2);
    --md: 0 0 3px rgba(0, 0, 0, 0.3);
    --lg: 0 0 5px rgba(0, 0, 0, 0.4) ;
    --xl: 0 10px 20px rgba(0, 0, 0, 0.5);

    /*Dark theme*/

    --clr-page-background: #222 ;
    --clr-gray-elements-background: #444;
    --clr-menu-background: #0c6588;
    --clr-main-content-background-main: #333 ;
    --clr-footer-background-footer: #333; 
    --clr-titles-colors: #fff; 
    --clr-text-color: #ddd;
    --clr-color-links-and-buttons: #e2f7ff;
    --clr-clor-hover-links-and-buttons: #fff;
    --bd-sm-border: 1px solid #666;
    --bd-md-border: 1px solid #555;
    --bd-lg-border: 2px solid #444;
    --fs-default-text-size: 1.6rem; 
    --lh-line-height: 3.0rem
}
/* header style */
header {
    background-image: url(./images/header.jpg);
    background-size: cover;
    
}

.color_header{
    color:var(--clr-default-page-color);
}

.form .search{
    border:none;
    background-color: transparent;
    color:var(--clr-default-page-color);
}

.form select{
  appearance: none;
}

.form input::placeholder{
    color:var(--clr-default-page-color);
}

h1, h2, h3{
    font-family: var(--ffamily-title);
}

.header_container{
    max-width: 1400px;
    margin:0 auto;
}

header .logo a >img {
    width: 4rem;
    height: auto;
} 


nav ul li:hover .none{
    display:flex;
    background-color:var(--clr-clor-hover-links-and-buttons);
    box-shadow:0 10px 20px rgba(0,0,0,0.5);
    
}


.flex_nav {
    justify-content: space-around;
    position:absolute;
    top:100%;
    left:0;
    right:0;
}

.none {
   display:none;
   gap: 1.5rem;
}

nav>ul{
    position:relative;
    padding:1rem;
}

header button{
    border:none;
    color:var(--clr-links-and-buttons);
    background-color: transparent;
    font-size: var(--fs-default-text-size);
}

nav ul li a{
    text-decoration: none;
    color:var(--clr-header-background-color);
}

nav>ul>li>a:hover{
    color:var(--clr-hover-links-and-buttons);
}

.flex_nav ul{
    padding: .5rem 1rem;
}

strong{
    margin-block: 1rem;
}

.form{
    border: 1px solid #fff;
    border-radius:30px 30px;
    background-color: transparent; 
    padding: .5rem;
    width:35rem;
    
}

.color_header{
    color:var(--clr-default-page-color);
}

.form .search{
    border:none;
    background-color: transparent;
    color:var(--clr-default-page-color);
}

.form input::placeholder{
    color:var(--clr-default-page-color);
}

.form input{
    width:15rem;
}

.form select{
    width:8rem;
    appearance:none;
}

.form span{
    color:white;
    font-size: 10px;
}


.flex_column svg{
    width:2rem;
    color: var(--clr-default-page-color);
}

.flex_column{
    display:flex;
    flex-direction: column;
    align-items: center;
}

nav svg{
    width:1.5rem;
    color:var(--clr-header-background-color);
}

/**footer**/
.wrap{
    flex-wrap: wrap;
}

.flex-basis{
    flex-basis: 30%;
    gap:1rem;
}

.sprite{
    background-image: url(./images/payment.png);
    width:170px;
    height: 80px;
    border-radius: 5px 5px;
    border: 1px solid #fff;
    background-size: 670px;
}

.sp1{
    background-position-x: 275px;
}

.sp2{
    background-position-x: 1337px;
}

.sp3{
    background-position-x: 1203px;
}

.sp4{
    background-position-x: 139px;
}

footer{
    background-color:var(--clr-footer-background-color);
    color:var(--clr-default-page-color);
}

.gap{
    gap:.5rem;
}

.sprite_container{
    width: 580px;
}

.first_section_footer, .scd_section_footer{
    display:flex;
    justify-content: center;
    gap:3rem;
}


.scd_section_footer{
   margin-top:2rem;
}

.first_section_footer{
   margin-top:2rem;
}

footer a{
    color:var(--clr-default-page-color);
}

.first_section_footer section{
    flex-basis: 50%;
}

.scd_section_footer section{
    flex-basis: 50%;
}

footer section h2{
    padding: 1rem;
}

.icon i{
    font-size: 35px;
    color: var(--clr-gray-elements-background);
}

.icon i:hover{
    color: rgb(184, 24, 120);
}

footer>div:last-of-type{
    padding-top:3rem;
    padding-bottom:3rem;
}

footer>div:last-of-type img{
    width:50px;
}

/***Main***/

.mini_image img
{
    width: 10%;
    height: auto;
}

.etiquette 
{
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}

.etiquette > li 
{
    border: 1px solid var(--bd-lg);
    padding: .3rem .4rem;
    background-color: var(--clr-gray-element-color);
    border-top-left-radius: 55%;
    border-bottom-left-radius: 55%;
    border-bottom-right-radius:5px;
    border-top-right-radius: 5px;
    position:relative;
    padding-inline:2rem;
    box-shadow:var(--lg); ;
}

main h2 
{
    padding-bottom: 1.5rem;
    position: 
    relative;
    color:var(--clr-titles-color);
}


main section
{
    padding: .5rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
}

.etiquette > li> p::before
{
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top:1rem;
    left:10px;
    /* right:10px; */
}

main h2::after
{
    content: '  .................................................................................................';
    font-size: 3rem;
    color: #ccc;
} 

.f_type::after
{
    content: ' ....................................................';
    font-size: 3rem;
    color: #ccc;
} 

main h3::after
{
    content: ' .........................................................................';
    font-size: 3rem;
    color: #ccc;
} 

.container_presentation 
{
    grid-template-columns: 50% 50% ;
    grid-template-rows: 50% 50%;
    padding: 2.5rem;
    column-gap: 2rem;
    padding-bottom: 3rem;
    
}

main article p{
    text-align: justify;
}

.buy_container 
{
    grid-column:2/3;
    grid-row: 1/2;
}


.buy_logo img 
{
    width: 20%;
    height: auto;
}

.buy_logo
{
   justify-content: flex-start;
   gap: 2rem;
}

.buy_shoppingbag 
{
    padding-top: 1rem;
}

.container_price
{
    border: 1px solid var(--clr-gray-element-color);
    background-color:var(--clr-gray-element-color) ;
    padding: 2rem;
    position: relative;
    color: gray;
}

.container_price> p
{
    background-color: rgb(193, 189, 189);
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    padding: 1rem;
} 

.cprice
{
    padding-bottom: 3rem;
}

.shoppingbag_button button
{
    border: none;
}



.shoppingbag_button button:first-of-type
{
    background-color: var(--clr-header-background-color);
    padding: 1rem;
    color: #fff;
    width: 100%;
    font-weight:bold;
}

.shoppingbag_button button:last-of-type
{
    background-color: #fff;
    padding: 1rem;
    color: var(--clr-header-background-color);
    width: 100%;
    font-weight:bold;
}

.price
{
    display: flex;
    flex-direction: column;
    align-items: center;color:var(--clr-titles-color);
    gap: 1rem;
}

.price>p{
    font-size: 3rem;
    font-weight: bold;
}

.price>span{
    font-size:1rem;

}

.figurecaption
{
    padding-top: 2rem;
    position: relative;
}

.figurecaption ul
{
    padding-top: 2rem;
    list-style: initial;
    padding-left: 3.5rem;
    
}

.description > img
{
    width: 86%;
}

.description 
{
    border: 1px solid #ccc;
    box-shadow: var(--bd-sm);
    width: 412px;
    height: auto;
    text-align: center;
    margin-inline: 1rem;
}
 
h3 
{
    clear: both;
    padding-bottom: 1rem;
    color:var(--clr-titles-color);
}

 table 
{
    flex-basis: 75%;
} 


.table 
{
   
    justify-content: space-between;
    padding: 1.5rem;
}

.fil_ariane{
    padding-top:1rem;
    padding-bottom:3rem;
    gap:1rem;
}

.container > p{
    padding-bottom:1.5rem;
}

.container a{
    color: var(--clr-links-and-buttons);
}

.fil_ariane span{
    font-size: 24px;
    color: var(--clr-links-and-buttons);
}

/****Media screen****/

@media   (min-width: 480px) and (max-width: 960px) {
    .form{
        display:none;
    }

    .logo{
        flex-direction: column;
    }

    nav>ul{
        flex-wrap: wrap;
        justify-content: center;
    }


    nav>ul>li{
        flex-basis: 45%;
        display:flex;
        justify-content: center;
    }

    .background{
        font-size:1rem;
    }
    
    .header_container button{
        font-size: 10px;
    }

    .header_container{
        max-width: 960px;
        margin:0 auto;
    }
    
    .flex1{
        justify-content: space-around;
    }

    .flex_nav{
        flex-direction: column;
    }

    .fil_ariane{
        display:none;
    }
    
    main section{
        margin-block: 0;
    }

    .etiquette > li 
    {
        padding: .1rem 1rem;
        text-align: center;
    }

    .etiquette 
    {
       justify-content: space-around;
       gap:.5rem;
    }

    .etiquette > li> p::before
    {
        display:none;
    }

    main h2::after, main h3::after
    {
        display: none;
    }

    .container_presentation{
        display:flex;
        flex-direction: column;
        justify-content: center;
        gap:1rem;
    }

    .buy_logo img{
        display:none;
    }

    article{
        display:flex;
        flex-direction: column;
        margin-bottom:1rem;
    }

    .description{
        width: 100%;
        margin:0 auto;
    }

   .table{
        display:flex;
        flex-direction: column;
    }

    .first_section_footer, .scd_section_footer{
        display:flex;
        justify-content: center;
        flex-direction: column;
        gap:1rem;
    }

    .first_section_footer>section, 
    .scd_section_footer>section{
        margin-block: 1rem;
    }
}


@media   (min-width: 280px) and (max-width: 480px) {
    .flex{
        flex-direction: column;
        gap:.2rem;
        
    }
    

    .form{
        display:none;
    }

    .logo{
        flex-direction: column;
    }

    nav>ul{
        flex-wrap: wrap;
        justify-content: center;
    }


    nav>ul>li{
        flex-basis: 45%;
        display:flex;
        justify-content: center;
    }

    .background{
        font-size:10px;
    }
    
    .header_container button{
        font-size: 8px;
    }

    .header_container{
        max-width: 480px;
        margin:0 auto;
        text-align: justify;
        
    }
    
    .flex1{
        justify-content: space-around;
        flex-direction: column;
        gap:1rem;
    }

    .account{
        flex-direction: row;
    }
    .flex_nav{
        flex-direction: column;
    }

    .fil_ariane{
        display:none;
    }
    
    main section{
        margin-block: 0;
    }

    .etiquette > li 
    { 
        padding: .1rem 1rem;
        text-align: center;
    }

    .etiquette 
    {
       justify-content: space-around;
       gap:.5rem;
       flex-wrap: wrap;
    }

    .etiquette > li> p::before
    {
        display:none;
    }

    main h2::after, main h3::after
    {
        display: none;
    }

    .container_presentation{
        display:flex;
        flex-direction: column;
        justify-content: center;
        gap:1rem;
        padding: 0;
    }

    .buy_logo img{
        display:none;
    }

    .price>p{
        font-size: 15px;
    } 

    .price>span{
        font-size: 15px;
    } 

    article{
        display:flex;
        flex-direction: column;
        margin-bottom:1rem;
    }

    .description{
        width: 100%;
        margin:0 auto;
    }

   .table{
        display:flex;
        flex-direction: column;
    }
    .sprite_container {
        width: 261px;
    }

    .sprite {
    
        width: 72px;
        height: 46px;
        border-radius: 5px 5px;
        border: 1px solid #fff;
        background-size: 367px;
    }
    .sp3 {
        background-position-x: 1019px;
    }
   .sp1 {
    background-position-x: 507px;
    }

    .sp2{
        background-position-x: 1093px;
    }
    
    .sp4{
        background-position-x: 71px;
    }

    .first_section_footer>section, 
    .scd_section_footer>section{
        margin-block: 1rem;
        color: #fff;
    }

    .first_section_footer, .scd_section_footer{
        display:flex;
        justify-content: center;
        flex-direction: column;
        gap:1rem;
    }

    footer .last_div{
        text-align: center;
    }
}